<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Modals page</h3>
      <hr />
      <button class="btn btn-primary"
              #simpleModal
              name="simpleModal">Simple Modal</button>
      <button class="btn btn-success"
              #simpleModalSuccess
              name="simpleModalSuccess">Success Modal</button>
      <button class="btn btn-warning"
              #simpleModalWarning
              name="simpleModalWarning">Success Warning</button>
      <button class="btn btn-danger"
              #simpleModalError
              name="simpleModalError">Success Error</button>
      <hr />
      <button class="btn btn-dark" #chainModal>Chain Modals</button>
    </div>
  </div>
</div>
